.form {
    background-color: #15141a;
    padding: 59px 0 40px;
    max-width: 770px;
    transform: translateY(27px);
    z-index: 3;
    &__sec-col {
        display: flex;
        flex-direction: column;
        padding: 0 33px 0 0;
    }
    &__input {
        max-width: 300px;
        width: 100%;
        height: 50px;
        background-color: #15141a;
        border: 1px solid rgba(255,255,255,0.2);
        border-radius: 4px;
        margin-bottom: 20px;
        padding:0 16px;
        color: #38373c;
    }
    &__input:focus {
        border: 1px solid rgba(255,255,255,0.5);
    }
    &__input::placeholder {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #38373c;
    }
    &__input:focus {
        border: 1px solid rgba(255,255,255,0.5);
    }
    &__input::placeholder {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #38373c;
    }
    &__textarea {
        height: 190px;
        resize: none;
        padding: 14px 19px 0;
        margin-bottom: 21px;
    }
    &__submit {
        align-self: flex-end;
    }
}

@media (max-width: 767px) {
    .form {
        padding: 40px 0 30px;
        transform: translateY(0);
        &__sec-col {
            padding: 0 30px 0;
        }
        .row {
            max-width: 100%;
            margin: 0;
            padding: 0 0 0 15px;
        }
        &__input {
            align-self: center;
        }
    }
}
@media (max-width: 575px) {
    .form {
        &__input {
            max-width: none;
        }
        &__sec-col {
            padding: 0 15px 0;
        }
        .row {
            padding: 0;
        }
    }
}