.header {
    padding: 31px 0 15px;
    transition: all 0.07s ease-in-out;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 1px 0 0 1px;
    text-transform: uppercase;
    &__img {
        font-family: 'Quicksand';
        font-size: 23px;
        line-height: 28px;
        font-weight: 700;
        letter-spacing: 1.2px;
    }
    &__text {
        opacity: 0.3;
        font-size: 9px;
        letter-spacing: 1.3px;
        padding-left: 5px;
    }
}

.menu {
    display: flex;
    margin-top: 3px;
    &__item{
        margin-left: 22.9px;
        flex-direction: column;
        .underline {
            max-width: 100%;
            margin: 7px auto 0;
            opacity: 0;
            transition: all 0.15s ease-in-out;
        }
    }
    &__item:hover{
        .underline {
            opacity: 1;
        }
    }
    &__link{
        font-weight: 600;
        color: #fffefe;
        line-height: 17px;
    }
}

@media (max-width: 767px){
    .header {
        padding: 20px 10px 15px;
        .ml-auto {
            margin-left: 0 !important;
        }
    }

    .menu{
        text-align: center;
        justify-content: center;

    }
}

.navbar-toggler:not(.collapsed) .header{
    background-color: red;
}
